<nav class="navbar">
  <a routerLink="/" class="navbar-brand">
    <h2 class="logo" ><fa-icon [icon] = "faGlobeEurope"> </fa-icon>Travel Check</h2>
  </a>

  <div *ngIf="loggedIn == 'true'">
    <div class="container">
      <div class="firstName" (click)="openProfile()">
        <fa-icon [icon]="faUserCircle" ></fa-icon> {{ firstName }}
      </div>
      <button type="button" class="btn" (click)="logout()">
        <fa-icon [icon]="faSignOutAlt" ></fa-icon> LOGOUT
      </button>
    </div>
  </div>
  <div *ngIf="loggedIn == 'false' || loggedIn==null">
    <div>
      <ul class="nav navbar">
        <li class="nav-item"></li>
        <a class="nav-link" routerLink="/signUp">
          <button type="button" class="btn"><fa-icon [icon]="faUserPlus" ></fa-icon> SIGN UP</button>
        </a>
        <li class="nav-item">
          <a class="nav-link" routerLink="/login">
            <button type="button" class="btn"><fa-icon [icon]="faSignInAlt" ></fa-icon> LOGIN</button>
          </a>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link" routerLink="/owner-login">
            <button type="button" class="btn btn-primary">Owner's page</button>
          </a>
        </li> -->
      </ul>
    </div>
  </div>
</nav>
