<nav class="navbar">
  <a routerLink="/" class="navbar-brand">
    <h2 class="logo" ><fa-icon [icon] = "faGlobeEurope"> </fa-icon>Travel Check</h2>
  </a>
  
  <div *ngIf="loggedIn == 'true'">
    <div class="container">
      <button type="button" class="btn" routerLink="">
        <fa-icon [icon]="faHome" ></fa-icon> HOME
      </button>
      <button type="button" class="firstName btn" (click)="openProfile()">
        <fa-icon [icon]="faUserCircle" ></fa-icon> {{ firstName.toUpperCase() }}
      </button>
      <button type="button" class="btn" (click)="logout()">
        <fa-icon [icon]="faSignOutAlt" ></fa-icon> LOGOUT
      </button>
    </div>
  </div>
  <div *ngIf="loggedIn == 'false' || loggedIn==null">
    <div class="container">
        <button type="button" class="btn" routerLink=""><fa-icon [icon]="faHome" ></fa-icon> HOME</button>
        <button type="button" class="firstName btn" routerLink="/signUp"><fa-icon [icon]="faUserPlus" ></fa-icon> SIGN UP</button>
        <button type="button" class="btn" routerLink="/login"><fa-icon [icon]="faSignInAlt" ></fa-icon> LOGIN</button>
        
    </div>
  </div>
</nav>
