.navbar {
  background-color: rgb(47, 45, 66);
  border-bottom: 2px solid black;
  height: 90px;
}
.logo {
  padding: 10px;
  color: white;
  background-color: rgb(23, 87, 143);
  border-radius: 10px;
  font-style: oblique;
  display: flex;
  justify-content: flex-start;
  margin-left: 100px;
}
.btn {
  background-color: rgb(47, 45, 66);
  color: white;
}
.container{
  font-size: 22px;
}
.btn:hover {
  color: red;
  background: #fff;
}
.active-page {
  background: #989898;
}
.firstName {
  background-color: rgb(47, 45, 66);
  color: white;
  margin-right: 20px;
  margin-left: 20px;
}

