<app-loader #loader *ngIf="isLoaded == false"></app-loader>
<div *ngIf="isLoaded == true">
    <app-header></app-header>
    <div *ngIf="reservationHistory == null" class="container">
        <div class="reservation">
            <h2 id="title">Reservation details</h2>
            <img id="apPhoto" src={{apartment.photos[0]}}>
            <p style="font-weight: bold; font-size: 26px;">{{apartment.apartmentName}}</p>
            <p>Check-in: {{dateRange0Formatted | date:'longDate'}}</p>
            <p>Check-out: {{dateRange1Formatted | date:'longDate'}}</p>
            <p>Number of persons: {{persons}}</p>
            <p>Total Price: {{ apartment.pricePerNight*period}}</p>
            <button class="btn btn-primary" (click)="reserve()">Confirm and reserve</button>
            <p style="color: red; font-size: 24px;" *ngIf="error == true">You need to login</p>
        </div>
    </div>
    <div *ngIf="reservationHistory == true" class="container">
        <div class="reservation">
            <h2 id="title">Reservation details</h2>
            <img id="apPhoto" src={{apartment.photos[0]}}>
            <p style="font-weight: bold; font-size: 26px;">{{apartment.apartmentName}}</p>
            <p>Check-in: {{reservation.checkIn | date:'longDate'}}</p>
            <p>Check-out: {{reservation.checkOut | date:'longDate'}}</p>
            <p>Number of persons: {{reservation.numberOfPersons}}</p>
            <p>Total Price: {{ reservation.price}}</p>
            <div *ngIf="details == null && (reservation.review == null || reservation.review == '') " class="review">
                <div style="font-weight: bold; font-size: 26px; margin-top: 30px;">Add Review </div>
                <textarea style="margin-top: 30px;" rows="4" cols="50" placeholder="How it was your vacation here?" [(ngModel)]="review"></textarea>
                <button class="btn btn-primary" (click)="addReview()">Add review</button>
            </div> 
            <div *ngIf="details == true" class="review">
                <div style="font-weight: bold; font-size: 26px; margin-top: 30px;">Review</div>
                <textarea readonly style="margin-top: 30px;" rows="4" cols="50">{{reservation.review}}</textarea>
            </div>        
        </div>
    </div>
</div>