<app-loader #loader *ngIf="isLoaded == false"></app-loader>
<div *ngIf="isLoaded == true">
    <app-header></app-header>
    <div *ngIf="reservationHistory == null && futureReservation == null && ownerReservation == null" class="container">
        <div class="reservation2">
            <h2 id="title">Reservation details</h2>
            <img id="apPhoto" src={{apartment.photos[0]}}>
            <p style="font-weight: bold; font-size: 26px;">{{apartment.apartmentName}}</p>
            <div class="reservationDetails">
                <div class="leftHalf">
                    <p>Check-in: {{dateRange0Formatted | date:'longDate'}}</p>
                    <p>Check-out: {{dateRange1Formatted | date:'longDate'}}</p>
                    <p>Number of persons: {{persons}}</p>
                    <p>Total Price: {{ apartment.pricePerNight*period}}$</p>
                </div>
                <div class="rightHalf">
                    <button class="btn btn-primary" (click)="goToPayment()">Go to payment</button>
                </div>
            </div>
            <p style="color: red; font-size: 24px;" *ngIf="error == true">You need to login</p>
        </div>
    </div>

    <div *ngIf="reservationHistory == true" class="container">
        <div class="reservation2">
            <div class="leftHalfDetails">
                <h2 id="title">Reservation details</h2>
                <img id="apPhoto" src={{apartment.photos[0]}}>
                <p style="font-weight: bold; font-size: 26px;">{{apartment.apartmentName}}</p>
                <p>Check-in: {{reservation.checkIn | date:'longDate'}}</p>
                <p>Check-out: {{reservation.checkOut | date:'longDate'}}</p>
                <p>Number of persons: {{reservation.numberOfPersons}}</p>
                <p>Total Price: {{ reservation.price}}$</p>
            </div>
            <div class="rightHalfDetails">
                <div *ngIf="details == null && (reservation.review == null || reservation.review == '') " class="review">
                    <div style="font-weight: bold; font-size: 26px; margin-top: 20px;">Add Rating </div>
                    <input class="slider" id="myRange" #ranger type="range" min="1" max="10" [(NgModel)] = "rating" (input)="setRam(ranger.value)" value="0">
                    <fa-icon *ngIf="rating >=1 && rating < 4" class="frown" [icon]="faFrown"></fa-icon>
                    <fa-icon *ngIf="rating >= 4 && rating < 8" class="meh" [icon]="faMeh"></fa-icon>
                    <fa-icon *ngIf="rating >= 8" class="smile" [icon]="faSmile"></fa-icon>
                    <p style="font-weight: bold; font-size: 22px; margin-top: 10px;">{{rating}} Travel points <fa-icon [icon]="faGlobe"></fa-icon></p>
                    <div style="font-weight: bold; font-size: 26px; margin-top: 30px;">Add Review </div>
                    <textarea style="margin-top: 30px;" rows="7" cols="40" placeholder="How it was your vacation here?" [(ngModel)]="review"></textarea>
                    <button class="btn btn-primary" (click)="addReview()">Add review</button>
                </div> 
                <div *ngIf="details == true" class="review">
                    <div style="font-weight: bold; font-size: 26px; margin-top: 20px;">Rating</div>
                    <fa-icon *ngIf="reservation.rating >=1 && reservation.rating < 4" class="frown" [icon]="faFrown"></fa-icon>
                    <fa-icon *ngIf="reservation.rating >= 4 && reservation.rating < 8" class="meh" [icon]="faMeh"></fa-icon>
                    <fa-icon *ngIf="reservation.rating >= 8" class="smile" [icon]="faSmile"></fa-icon>
                    <p style="font-weight: bold; font-size: 22px; margin-top: 10px;">{{reservation.rating}} Travel points <fa-icon [icon]="faGlobe"></fa-icon></p>
                    <div style="font-weight: bold; font-size: 26px; margin-top: 30px;">Review</div>
                    <textarea readonly style="margin-top: 30px;" rows="7" cols="40">{{reservation.review}}</textarea>
                </div> 
            </div>       
        </div>
    </div>

    <div *ngIf="futureReservation == true" class="container">
        <div class="reservation2">
            <h2 id="title">Reservation details</h2>
            <img id="apPhoto" src={{apartment.photos[0]}}>
            <p style="font-weight: bold; font-size: 26px;">{{apartment.apartmentName}}</p>
            <div class="reservationDetails">
                <div class="leftHalf">
                    <p>Check-in: {{reservation.checkIn | date:'longDate'}}</p>
                    <p>Check-out: {{reservation.checkOut | date:'longDate'}}</p>
                    <p>Number of persons: {{reservation.numberOfPersons}}</p>
                    <p>Total Price: {{ reservation.price}}$</p>
                </div>
                <div class="rightHalf">
                    <p class="font-weight-bold">Contact owner </p>
                    <p>{{owner.firstName}} {{owner.lastName}}</p>
                    <p>Phone number: {{owner.phoneNumber}}</p>
                    <p>E-mail: {{owner.email}}</p>
                </div>
            </div>
            <button *ngIf="cancellationDateLimit.getTime() > currentDate.getTime() " class="btn btn-primary" style="margin-top: 20px;" (click)="cancelReservation(reservation)">Cancel reservation</button>
            <p *ngIf="cancellationDateLimit.getTime() <= currentDate.getTime() " style="color: red; margin-top: 20px;"> The deadline for free cancellation has passed</p>

        </div>
    </div>

    <div *ngIf="ownerReservation == true" class="container">
        <div class="reservation2">
            <h2 id="title">Reservation details</h2>
            <img id="apPhoto" src={{apartment.photos[0]}}>
            <p style="font-weight: bold; font-size: 26px;">{{apartment.apartmentName}}</p>
            <div class="reservationDetails">
                <div class="leftHalf">
                    <p>Check-in: {{reservation.checkIn | date:'longDate'}}</p>
                    <p>Check-out: {{reservation.checkOut | date:'longDate'}}</p>
                    <p>Number of persons: {{reservation.numberOfPersons}}</p>
                    <p>Total Price: {{ reservation.price}}$</p>
                </div>
                <div class="rightHalf">
                    <p class="font-weight-bold">Contact guest </p>
                    <p>{{guest.firstName}} {{guest.lastName}}</p>
                    <p>Phone number: {{guest.phoneNumber}}</p>
                    <p>E-mail: {{guest.email}}</p>
                </div>
            </div>

        </div>
    </div>
</div>
<payment #payment [reservationToPay] = "reservation"></payment>
<confirmation-modal #confirmation [reservationToCancel] = "reservation"></confirmation-modal>