<app-header class="header"></app-header>
<img class="image" src="assets/images/background.jpg" />
<form class="container">
  <input
    id="searchBar"
    type="text"
    name="search"
    placeholder="Search a place..."
    autocomplete="off"
    [(ngModel)]="searchText"
    maxlength="30"
    (keypress)="onlyAlphaNumeric($event)"
  />

  <input
    id="checkin"
    type="datetime"
    bsDaterangepicker
    class="form-control"
    placeholder="Check-in  -  Check-out"
    [bsConfig]="{ rangeInputFormat: 'DD/MM/YYYY' }"
    autocomplete="off"
    [(ngModel)]="bsRangeValue"
    [minDate]="minDate"
    [maxDate]="maxDate"
    [ngModelOptions]="{ standalone: true }"
    onKeyDown="return false"
    
  />
  <input
    id="numberOfPersons"
    type="number"
    min="1"
    max="10"
    onKeyDown="return false"
    placeholder="Number of persons"
    [(ngModel)]="maxPers"
    name="maxPers"
  />
  <button
    type="button"
    id="submit"
    class="btn"
    (click)="onSubmit()"
  >
    Submit
  </button>
</form>
    <div *ngIf="searchText.length > 0" class="row">
      <ng-container
        *ngFor="let city of allCities | searchFilter: {city: searchText};let ind = index">
        <div class="view   mb-2 mr-2 hoverable">
          <img
            class="pozeCazari"
            src="../../assets/images/travel.jpg"
            alt="hoverable"
            (click)="searchText = city.city"
          />

          <div class="detail">
            <p id="p1" (click)="searchText = city.city">
              {{ city.city }}
            </p>
            <span style="font-size: 14px;">{{city.country}}</span>

              
          </div>
        </div>
      </ng-container>
    </div>
<app-detail-modal #detailModal></app-detail-modal>
