<div
  bsModal
  class="row modal fade"
  #apartmentModal="bs-modal"
>
  <div id="modal">
    <h2 class="title">{{activeApartment.apartmentName}} 
      <fa-icon *ngIf="edit == false && userId == activeProperty.userId" [icon]="faPen" id ="edit" (click)="showEditOption()" ></fa-icon></h2>
    <div class="apartmentProfile">
      <div class="leftHalf">
        <div class="img-wrap">
          <fa-icon *ngIf="editPhotos == true" (click) = "deletePhoto(mainPhoto)" class="delete" [icon] = "faTimes"></fa-icon>
          <img class="mainPhoto" src={{mainPhoto.path}}>
        </div>
        <div class="details">
            <div class="photos" *ngFor="let photo of activeApartment.photoObjects; let i = index">
                <img class="pozeApartament" src={{photo.path}} (click)="becomeMainPhoto(photo);setSelected(i)"
                [ngClass]="{'highlight': selectedIndex === i}">
            </div>
        </div>
        <p *ngIf="editPhotos == false && userId == activeProperty.userId" class="editPhotos" (click)="enableEditPhotos()"><fa-icon [icon]="faPen" ></fa-icon> Edit photos</p>
        <p *ngIf="editPhotos == true && userId == activeProperty.userId" id="cancelText" (click)="cancelEditPhotos()">Close<fa-icon [icon]="faTimes" id = "cancel" ></fa-icon></p>

        <label *ngIf="editPhotos == true" class="custom-file-upload">
          <input type="file" (change)="onSelectFile($event)" multiple/>
          Select new photos
      </label>
      </div>
      <div *ngIf="edit == false" class="rightHalf">
        <label class="features">Rooms: </label><span> {{activeApartment.numberOfRooms}}</span>
        <br>
        <label class="features">Price per night: </label><span> {{activeApartment.pricePerNight}}</span>
        <div class="persoane">
          Capacity:
          <fa-icon *ngFor="let person of counter(activeApartment.maxPersons)" id="persoana" [icon]="faUser" ></fa-icon>    
        </div>
        <label class="features">Description: </label>
        <div class="apartmentDescription">
              {{activeApartment.description}}
        </div>
        <div class="reviews">
          <p><fa-icon [icon]="faComment"></fa-icon> Reviews:</p>
          <div *ngFor="let reservation of apartmentsReservations | slice:0:showNumber">
            <div *ngIf = "reservation.review != '' && reservation.review != null" class="review">
              <p><fa-icon [icon]="faUser"></fa-icon> {{reservation.userFirstName}} - {{reservation.checkIn | date:'longDate'}} </p>
              <p><fa-icon [icon]="faGlobe"></fa-icon> {{reservation.rating}} Travel points  
                <fa-icon *ngIf="reservation.rating >=1 && reservation.rating < 4" class="frown" [icon]="faFrown"></fa-icon>
                <fa-icon *ngIf="reservation.rating >= 4 && reservation.rating < 8" class="meh" [icon]="faMeh"></fa-icon>
                <fa-icon *ngIf="reservation.rating >= 8" class="smile" [icon]="faSmile"></fa-icon>
              </p>  
              <p>{{reservation.review}}</p>
            </div>
          </div>

          <p id="seeComments" *ngIf="apartmentsReservations.length > 3 && show == false" (click)="show = true; showNumber = apartmentsReservations.length">See more reviews</p>
          <p id="seeComments" *ngIf="show == true" (click)="show = false; showNumber = 3">See less reviews</p>
          <div *ngIf="apartmentsReservations.length == 0 || apartmentHasReviews == false">
            This apartment doesn't have reviews yet
          </div>  
        </div>
      </div>
      <div *ngIf="edit == true" class="rightHalf">
        <h3>Edit apartment details </h3>

        <p id="cancelText" (click)="cancelForm()">Cancel<fa-icon [icon]="faTimes" id = "cancel" ></fa-icon></p>
        <form class="form-container" [formGroup]="editApartmentForm">
          <div class="leftHalfForm">
            <label for="apartmentName" class="control-label required">Apartment Name</label>
            <input type="text" class="form-control" formControlName="apartmentName" maxlength="50" [(ngModel)] = "apartmentName"/>
            <p class="descriptionLength">{{apartmentName.length}}/50</p>

            <app-field-error-display [displayError]="isFieldValid('apartmentName')"
                                            errorMsg="Please inform the apartment name">
            </app-field-error-display>

            <label>Price per night (in dollars):</label>
            <input type="number" class="form-control" min="1" max="1000" onkeypress="if(this.value.length==3) return false;" id="city" formControlName="pricePerNight" autocomplete="off">
            <app-field-error-display [displayError]="isFieldValid('pricePerNight')"
                                        errorMsg="Please inform the price per night">
            </app-field-error-display>

            <label for="description" class="control-label required">Description</label>
            <textarea class="form-control" style="resize: none;" rows="8" formControlName="description" autocomplete="off" maxlength="500" [(ngModel)] = "apartmentDescription"></textarea>
            <p class="descriptionLength">{{apartmentDescription.length}}/500</p>

            <app-field-error-display [displayError]="isFieldValid('description')"
                                            errorMsg="Please complete a description">
                </app-field-error-display>

            <label for="maxPersons" class="control-label required">Maximum capacity of persons</label>
            <input type="number" class="form-control" min="1" max="10" onKeyDown="return false" formControlName="maxPersons"/>
            <app-field-error-display [displayError]="isFieldValid('maxPersons')"
                                            errorMsg="Please inform the number of persons">
                </app-field-error-display>
            
            <label for="numberOfRooms" class="control-label required">Number of rooms</label>
            <input type="number" class="form-control" min="1" max="6" onKeyDown="return false" formControlName="numberOfRooms"/>
            <app-field-error-display [displayError]="isFieldValid('numberOfRooms')"
                                      errorMsg="Please inform the number of rooms">
            </app-field-error-display>

            <button class="btn" style="background-color: rgb(4, 180, 63); margin-top: 30px; color: white;" (click)="saveChanges()">Save changes</button>

          </div>
        </form>
      </div>
    </div>
  </div>
</div>