#modal {
  background-color: white;
  border: 3px solid black;
  border-radius: 10px;
  width: 70%;
  margin: auto;
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  padding: 50px 50px 50px 50px;
}
.pozeApartament {
  object-fit: cover;
  height: 70px;
  width: 70px;
  margin-right: 10px;
  margin-bottom: 10px;
}
.details {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  flex-wrap: wrap;
}
.mainPhoto {
  object-fit: cover;
  height: 350px;
  width: 400px;
  margin-bottom: 20px;
}
.pozeApartament:hover {
  cursor: pointer;
  opacity: 0.7;
}
.highlight {
  border: 3px solid rgb(80, 162, 233);
}
.title {
  margin-bottom: 50px;
  text-align: center;
}
.apartmentProfile {
  display: flex;
  flex-direction: row;
}
.rightHalf {
  flex-direction: column;
  justify-content: center;
  margin-left: 70px;
  width: 120%;
}
.leftHalf {
  margin-left: 50px;
  width: 115%;
}
.features {
  font-weight: bold;
  margin-bottom: 10px;
}
.persoane {
  display: flex;
  flex-direction: row;
  font-weight: bold;
}
#persoana {
  margin-left: 5px;
  margin-bottom: 10px;
}
.issueDescription {
  background-color: rgb(230, 236, 240);
  min-height: 200px;
  border-bottom: 5px solid rgb(87, 37, 37);
  border-radius: 10px;
  padding: 20px;
}
.reviews {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.review {
  background-color: rgb(230, 236, 240);
  border-bottom: 5px solid rgb(87, 37, 37);
  border-radius: 10px;
  padding: 15px;
  margin-bottom: 10px;
  position: relative;
  max-width: 100%;
}
#seeComments {
  color: rgb(23, 87, 143);
}
#seeComments:hover {
  text-decoration: underline;
  cursor: pointer;
}
.form-control {
  width: 60%;
  max-width: 60%;
  margin-bottom: 5px;
}
#cancel {
  color: rgb(180, 4, 4);
  margin-left: 10px;
}
#cancelText {
  font-size: 18px;
  color: rgb(180, 4, 4);
  cursor: pointer;
  margin-bottom: 30px;
  width: fit-content;
}
#edit {
  cursor: pointer;
}
input[type="file"] {
  display: none;
}
.custom-file-upload {
  margin-top: 10px;
  border: 1px solid rgb(167, 167, 167);
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
  background-color: rgb(23, 87, 143);
  color: white;
}
.img-wrap {
  position: relative;
  display: inline-block;
}
.delete {
  position: absolute;
  top: 3px;
  right: 3px;
  z-index: 100;
  background-color: rgb(202, 5, 5);
  padding: 0 10px 0 10px;
  cursor: pointer;
  opacity: 0.3;
  font-size: 26px;
  border-radius: 50%;
}
.img-wrap:hover .delete {
  opacity: 1;
}
.frown{
  color: crimson;
}
.meh{
  color: rgb(223, 139, 14);
}
.smile{
  color: rgb(20, 182, 20);
}