<app-loader #loader *ngIf="isLoaded == false"></app-loader>
<div *ngIf="isLoaded == true">
<app-header></app-header>
<div class="container">
  <div class="">
      <div class="view">
        <img class="pozeCazari" src="{{ property.photo }}"/>
        <div class="detaliiProp">
          <p id="p1" >
            <fa-icon *ngIf="property.userId == userId" [icon]="faBuilding" id="faBuilding"></fa-icon>{{ property.name.toString() }}
          </p>
          <p id="p2">
            {{ property.cityName }}
          </p>
          <div class="stele">
            <fa-icon *ngFor="let star of counter(property.numberOfStars)" id="stea" [icon]="faStar" ></fa-icon>
          </div>
          <button *ngIf="loggedIn=='true' && property.userId != userId" class="btn" style="background-color: rgb(240, 226, 226);margin-top: 20px;" [ngClass]="{'followup' : activeFavourite!=null,
                'unfollow' : activeFavourite == null }"
                                (click)="changeStyle();addToFavourites()">
                {{activeFavourite!=null ? 'Remove from favourites' : (activeFavourite == null ? 'Add to favourites' : '')}}
            </button>
            <p style="color: red; font-size: 24px;" *ngIf="error == true">You need to login</p>
        </div>
      </div>
      <div class="secondView" *ngFor="let apartment of apartments">
        <img class="apPhoto" src="{{apartment.photos[0] }}" />
        <div class="apDetail">
              <p id="apName" (click)="openApartmentModal(apartment.id)">
                {{ apartment.apartmentName}}
              </p>
              <div class="persoane">
                Capacity:
                <fa-icon *ngFor="let person of counter(apartment.maxPersons)" id="persoana" [icon]="faUser" ></fa-icon>    
              </div>
              <p *ngIf="property.userId != userId" id="totalPrice" >
                Total price: {{apartment.pricePerNight*period}}
              </p>
              <button *ngIf="property.userId != userId" type="button" class="btn btn-primary" (click)="check();set(apartment.id);">Reserve</button>
        </div>  
      </div>
  </div>
</div>
</div>
<apartment-profile #apartmentModal></apartment-profile>
