<app-loader #loader *ngIf="isLoaded == false"></app-loader>
<div *ngIf="isLoaded == true">
<app-header></app-header>
<div class="container">
  <div class="">
      <div class="view">
        <img class="pozeCazari" src="{{ property.photo }}"/>
        <div class="detaliiProp">
          <p id="p1" >
            {{ property.name.toString() }}
          </p>
          <p id="p2">
            {{ property.cityName }}
          </p>
          <div class="stele">
            <img
              id="stea"
              src="assets/images/2184499.png"
              *ngFor="let star of counter(property.numberOfStars)"
            />
          </div>
          <button type="button" class="btn btn-primary" style="margin-top: 20px;" (click)="goToAddApartment()">Add an apartment</button>
        </div>
      </div>
      <div class="secondView" *ngFor="let apartment of apartments">
        <img class="apPhoto" src="{{apartment.photos[0] }}" />
        <div class="apDetail">
              <p id="apName" (click)="toApartmentPage(apartment)">
                {{ apartment.apartmentName}}
              </p>
                <div class="persoane">
                  Capacity:
                  <fa-icon *ngFor="let person of counter(apartment.maxPersons)" id="persoana" [icon]="faUser" ></fa-icon>
                  
                </div>
              
        </div>  
      </div>
  </div>
</div>
</div>