.detaliiProp {
  margin-left: 60px;
}
.pozeCazari {
  object-fit: cover;
  height: 300px;
  width: 300px;
}
#p1 {
  font-size: 26px;
}
#p2 {
  font-size: 22px;
}
.apartmentsContainer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.view {
  margin-top: 20px;
  margin-left: 10px;
  width: 98%;
  display: flex;
  align-items: center;
  border-bottom: 6px solid rgb(75, 75, 75);
  border-top: 6px solid rgb(75, 75, 75);
  border-radius: 7px;
  background-color: rgb(57, 147, 226);
  max-height: 300px;
}
.secondView {
  margin-top: 20px;
  margin-left: 10px;
  width: 96%;
  display: flex;
  align-items: center;
  border: 2px solid rgb(23, 87, 143);
  border-radius: 7px;
  background-color: rgb(129, 185, 235);
  width: 48vw;
}
.stele {
  display: flex;
  flex-direction: row;
}
#stea {
  font-size: 30px;
  color: rgb(235, 200, 4);
  margin-right: 3px;
}
#faBuilding {
  color: white;
}
.persoane {
  display: flex;
  flex-direction: row;
}
#persoana {
  margin-left: 5px;
}
.btn {
  background-color: rgb(23, 87, 143);
}
.apDetail {
  margin-left: 100px;
}
.btn:hover {
  color: #ff7a59;
  background: #fff;
}
#apName:hover {
  text-decoration: underline;
  cursor: pointer;
}
.apPhoto {
  object-fit: cover;
  height: 200px;
  width: 200px;
}
#apName {
  font-size: 22px;
  font-weight: bold;
}
.editing {
  display: flex;
  flex-direction: column;
  margin-left: 100px;
}
.propertyDetails {
  display: flex;
  flex-direction: row;
}
.propertyDescription {
  background-color: rgb(230, 236, 240);
  min-height: 200px;
  max-height: 300px;
  border-bottom: 5px solid rgb(87, 37, 37);
  border-radius: 10px;
  padding: 20px;
  margin-top: 25px;
}
.description {
  width: 50%;
}
.detailsFlex {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: auto;
}
#marker {
  font-size: 20px;
  color: red;
}
.form-container {
  width: 60%;
  margin: auto;
  margin-top: 20px;
}
#cancel {
  color: red;
  margin-left: 10px;
}
#cancelText {
  font-size: 18px;
  color: red;
  cursor: pointer;
  margin-bottom: 30px;
  width: fit-content;
}
textarea {
  resize: none;
  overflow: hidden;
  border-radius: 5px;
  padding: 5px;
}
