<app-loader #loader *ngIf="isLoaded == false"></app-loader>
<div *ngIf="isLoaded == true">
<app-header></app-header>
<div class="container">
  <div class="">
      <div class="view mb-3 mr-3 p-0">
        <img class="pozeCazari" src="{{ property.photo }}"/>
        <div class="detaliiProp">
          <p id="p1" >
            <fa-icon *ngIf="property.userId == userId" [icon]="faBuilding" id="faBuilding"></fa-icon>{{ property.name }}
          </p>
          <p id="p2">
            {{ property.cityName }}
          </p>
          <div class="stele">
            <fa-icon *ngFor="let star of counter(property.numberOfStars)" id="stea" [icon]="faStar" ></fa-icon>
          </div>
        </div>
        <div class="editing">
          <button *ngIf="property.userId == userId" class="btn btn-primary mb-2" (click)="showEditOption()"><fa-icon [icon]="faPen"></fa-icon> Edit Property</button>
          <button *ngIf="property.userId == userId" class="btn btn-primary mb-2" (click)="goToAddApartment()"><fa-icon [icon]="faPlus"></fa-icon> Add an apartment</button>
          <div class="toggleButton" *ngIf="property.userId == userId">
            <label class="switch">
              <input type="checkbox" [(ngModel)]="toggleButton" (click)="toggle()">
              <span class="slider round"></span>
  
            </label>
            <p *ngIf="toggleButton == true" id="isPublicMessage">Public</p>
            <p *ngIf="toggleButton == false" id="isPublicMessage">Not public</p>
          </div>
          
        </div>
        <div class="mapContainer">
          <agm-map [zoom]="9" [latitude]="property.mapLatitude" [longitude]="property.mapLongitude">
              <agm-marker [latitude]="property.mapLatitude" [longitude]="property.mapLongitude"></agm-marker>
          </agm-map>
        </div>
      </div>
      
      <div class="propertyDetails">
        <div class="description mb-3" *ngIf="edit == false">
          <p class="text-center h2 mt-3 mb-3">Details</p>
          <div class="detailsFlex">
            <p class="h4 mt-2"><fa-icon id = "marker" [icon]="faMapMarkerAlt"></fa-icon> 
            {{property.street}}, {{property.cityName}}, {{property.country}}</p>
            <!-- <p class="h4 font-weight-bold">Description</p> -->
            <div class="propertyDescription">
                {{property.description}}
            </div>
          </div>
        </div>
        <div class="description mb-3" *ngIf="edit == true">
          <p class="text-center h2 mt-3 mb-3">Edit details</p>
          <div class="detailsFlex">
            <form class="form-container" [formGroup]="editPropertyForm">
              <p id="cancelText" (click)="cancelForm()">Cancel<fa-icon [icon]="faTimes" id = "cancel" ></fa-icon></p>


                <label class="control-label mt-2">Property name</label>
                <input type="text" id="firstName2" class="form-control" formControlName="name" maxlength="50" [(ngModel)] = "propertyName"/>
                <p class="descriptionLength">{{propertyName.length}}/50</p>
                <app-field-error-display [displayError]="isFieldValid('name')"
                                        errorMsg="Please inform the property name">
                </app-field-error-display>
    
                <label class="control-label mt-2">Type</label>
                <select class="form-control" formControlName="type">
                  <option value="" disabled>Type</option>
                  <option *ngFor="let type of propertyTypes" value="{{type}}">{{type}}</option>
                </select>
                <app-field-error-display [displayError]="isFieldValid('type')"
                                        errorMsg="Please inform the property type">
                </app-field-error-display>
    
                
                <label class="control-label mt-2">Description</label>
                <textarea class="form-control" formControlName="description" rows="6" maxlength="1000" [(ngModel)] = "descriptionText"></textarea>
                <p class="descriptionLength">{{descriptionText.length}}/1000</p>
                <app-field-error-display [displayError]="isFieldValid('description')"
                                        errorMsg="Please inform the property description">
                </app-field-error-display>
              
                
                <label class="control-label mt-2">Country</label>
                <select class="form-control" formControlName="country" [(ngModel)] = "selectedCountry" (ngModelChange)= "onSelectCountry(selectedCountry)">
                  <option value="property.country" disabled>Country</option>
                  <option *ngFor="let country of allCountries" value="{{country.name}}">{{country.name}}</option>
                </select>
                <app-field-error-display [displayError]="isFieldValid('country')"
                                        errorMsg="Please inform the country">
                </app-field-error-display>

                <label class="control-label mt-2">City</label>
                <select class="form-control" formControlName="cityName" [(ngModel)]="selectedCity">
                    <option disabled>City</option>
                    <option *ngFor="let city of allSearchedCities" [ngValue]="city.city">{{city.city}}</option>
                </select>
                <app-field-error-display [displayError]="isFieldValid('cityName')"
                          errorMsg="Please inform the property cityName">
                </app-field-error-display>
    
                <label class="control-label mt-2">Address</label>
                <input type="text" id="country" class="form-control" formControlName="street" autocomplete="off" maxlength="100" [(ngModel)] = "propertyAddress"/>
                <p class="descriptionLength">{{propertyAddress.length}}/100</p>
                <app-field-error-display [displayError]="isFieldValid('street')"
                                        errorMsg="Please inform the property address">
                </app-field-error-display>
                            
                <button class="btn" style="background-color: rgb(4, 180, 63); margin-top: 30px; color: white;" (click)="saveChanges()">Save changes</button>

            </form>
          </div>
        </div>


        <div class="apartmentsContainer mb-3 mr-3 p-0">
          <p class="text-center h2 mt-3 mb-3">Apartments</p>
          <div class="secondView" *ngFor="let apartment of apartments">
            <img class="apPhoto" src="{{apartment.photos[0] }}" />
            <div class="apDetail">
                  <p id="apName" (click)="openApartmentModal(apartment.id)">
                    {{ apartment.apartmentName}}
                  </p>
                  <div class="persoane">
                    Capacity:
                    <fa-icon *ngFor="let person of counter(apartment.maxPersons)" id="persoana" [icon]="faUser" ></fa-icon>    
                  </div>
            </div>  
          </div>
          <div *ngIf="apartments.length == 0 ">
            <p class="nullMessage">This property doesn't have any apartment</p>
          </div>
        </div>

      </div>
  </div>
</div>
</div>
<apartment-profile #apartmentModal></apartment-profile>
