<app-header></app-header>
<h1 class="title">Add your property</h1>
<form id="addForm" action="" [formGroup]="addPropertyForm">
    <h3 class="title2">Property details</h3>
    <div class="formHalfs">
        <div class="leftHalf">
            <div class="form-group">
                <label for="inputAddress">Property name:</label>
                <input type="text" class="form-control" formControlName="propertyName" pattern="">
                
            </div>
            <div class="form-group">
                <label for="inputPhoneNr">Type:</label>
                <select class="typeSelect" formControlName="type" formControlName="type">
                    <option value="" disabled selected>Type</option>
                    <option *ngFor="let type of propertyTypes" value="{{type}}">{{type}}</option>
                </select>
            </div>
            <div class="form-group">
                <label for="city">City:</label>
                <input type="text" name="city" class="form-control" id="city" formControlName="city" [(ngModel)]="citySearchText"  autocomplete="off">
                <div *ngIf="citySearchText.length > 0">
                    <div class="autocomplete" *ngFor="let city of cities| searchFilter: {cityName: citySearchText}">
                        <a (click)="setCity(city)">{{city.cityName}}</a>
                    </div>
                </div>
            </div>
            <!-- <div class="form-group col-md-9">
                <input id="notes" placeholder="Notes" formControlName="notes" (focus)="isDivHidden = true" (blur)="isDivHidden = false"/>
                <div id="another-div" *ngIf="!isDivHidden">Test div which is hidden when notes input is in focus
                </div>
            </div> -->
            <div class="form-group">
                <label for="streetName">Street name:</label>
                <input type="text" name="streetName" class="form-control" formControlName="streetName" >
            </div>
            <div class="form-group">
                <label for="inputPhoneNr">Street number:</label>
                <input type="text" name="streetNumber" class="form-control" formControlName="streetNumber">
            </div>
            
        </div>
        <div class="rightHalf">
            <div class="form-group">
                <div class="mapContainer">
                    <agm-map [zoom]="13" [latitude]="latitude" [longitude]="longitude">
                        <agm-marker [latitude]="latitude" [longitude]="longitude"></agm-marker>
                    </agm-map>
                </div>
                <label for="description">Description: </label>
                <br>
                <textarea id="propertyDescription" name="propertyDescription" formControlName="description" rows="4" cols="50"></textarea>
                <!-- <app-field-error-display [displayError]="isFieldValid('description')"
                                            errorMsg="Please inform the description">
                </app-field-error-display> -->
            </div>
            <!-- <div class="form-group">
                <input type='file' (change)="onSelectFile($event)">
            </div> -->
            <label class="custom-file-upload">
                <input type="file" (change)="onSelectFile($event)"/>
                Upload Main Photo
            </label>
            <div *ngIf="mainPhoto != null" class="img-wrap">
                <fa-icon (click) = "deletePhoto()" class="delete" [icon] = "faTimes"></fa-icon>
                <img class="mainPhoto" src={{mainPhoto}} height="200">
              </div>
              <br/>
        </div>
    </div>

    <button type="button" id="submit" class="btn" (click)="onSubmit()">Submit</button>

    <!-- <p class="text-center" style="color:red;" *ngIf="success==false">Complete all the information</p>
    <p class="text-center" style="color:red;" *ngIf="userIdInvalid==true">You need to login</p>
    <p class="text-center" style="color: green;" *ngIf="successAdd != '' ">{{successAdd}}</p> -->


</form>