.typeSelect {
  width: 100%;
  min-width: 15ch;
  max-width: 30ch;
  border: 1px solid #777;
  border-radius: 0.25em;
  padding: 0.25em 0.5em;
  font-size: 1.25rem;
  cursor: pointer;
  line-height: 1.1;
  background-color: #fff;
  background-image: linear-gradient(to top, #f9f9f9, #fff 33%);
}
.autocomplete {
  border: 1px solid black;
  border-radius: 0.25em;
}
.title {
  font-size: 36px;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 60px;
}
.title2 {
  text-align: center;
  margin-bottom: 30px;
}
#addForm {
  width: 70%;
  max-width: 70%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 5px solid black;
  border-radius: 10px;
  padding-top: 50px;
  padding-bottom: 50px;
}
.formHalfs {
  display: flex;
  flex-direction: row;
}
.rightHalf {
  margin-top: 15px;
  margin-left: 150px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.form-group {
  width: 110%;
}
.btn {
  background-color: rgb(20, 182, 20);
  color: white;
}
input {
  border: 2px solid rgb(34, 33, 33);
  border-radius: 4px;
  text-align: center;
}
input[type="file"] {
  display: none;
}
.custom-file-upload {
  border: 1px solid rgb(167, 167, 167);
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
  margin-bottom: 30px;
}
.img-wrap {
  position: relative;
  display: inline-block;
}
.delete {
  position: absolute;
  top: 3px;
  right: 3px;
  z-index: 100;
  background-color: rgb(202, 5, 5);
  padding: 0 10px 0 10px;
  cursor: pointer;
  opacity: 0.3;
  font-size: 26px;
  border-radius: 50%;
}
.img-wrap:hover .delete {
  opacity: 1;
}
.mapContainer {
  width: 90%;
  border: 5px solid black;
  border-radius: 5px;
  margin-top: 15px;
  margin-bottom: 15px;
}
agm-map {
  height: 200px;
}
