<app-header></app-header>
<h1 class="title">Add an apartment</h1>
<form id="addForm" action="" [formGroup]="addApartmentForm">
    <h3 class="title2">Apartment details</h3>
    <p class="h3">{{activeProperty.name}}</p>
    <div class="formHalfs">
        <div class="leftHalf">
            <div class="form-group">
                <label for="inputAddress">Apartment name:</label>
                <input type="text" class="form-control" formControlName="apartmentName" maxlength="50" pattern="^[\w'\-,.][^0-9_!¡?÷?¿/\\+=@#$%ˆ&*(){}|~<>;:[\]]{2,}$">
                <app-field-error-display [displayError]="isFieldValid('apartmentName')"
                                            errorMsg="Please inform the apartment name">
                </app-field-error-display>
            </div>
            <div class="form-group">
                <label>Number of Rooms: </label><br>
                <input id="numberOfRooms" class="form-control" type="number" min="1" max="6" onKeyDown="return false" formControlName="numberOfRooms"/>
                <app-field-error-display [displayError]="isFieldValid('numberOfRooms')"
                                            errorMsg="Please inform the number of rooms">
                </app-field-error-display>
            </div>
            <div class="form-group">
                <label>Price per night (in dollars):</label>
                <input type="number" class="form-control" min="1" max="1000" onkeypress="if(this.value.length==3) return false;" id="city" formControlName="pricePerNight" autocomplete="off">
                <app-field-error-display [displayError]="isFieldValid('pricePerNight')"
                                            errorMsg="Please inform the price per night">
                </app-field-error-display>
            </div>
            <div class="form-group">
                <label>Number of persons allowed: </label><br>
                <input id="numberOfRooms" class="form-control" type="number" min="1" max="10" onKeyDown="return false" formControlName="numberOfPersons"/>
                <app-field-error-display [displayError]="isFieldValid('numberOfPersons')"
                                            errorMsg="Please inform the number of persons">
                </app-field-error-display>
            </div>
           
            
        </div>
        <div class="rightHalf">
            <div class="form-group">
                <label for="description" style="  margin-top: 20px;">Description: </label>
                <br>
                <textarea id="propertyDescription" class="form-control" name="propertyDescription" formControlName="description" rows="6" cols="50" [(ngModel)] = "descriptionText"></textarea>
                <p class="descriptionLength">{{descriptionText.length}}/1000</p>
                <app-field-error-display [displayError]="isFieldValid('description')"
                                            errorMsg="Please complete the description">
                </app-field-error-display>
            </div>
            
            <label class="custom-file-upload">
                <input type="file" (change)="onSelectFile($event)" multiple/>
                Upload Photos
            </label>
            <div class="photos">
                <div class="img-wrap" *ngFor="let photo of apartmentPhotos">
                    <fa-icon (click) = "deletePhoto(photo)" class="delete" [icon] = "faTimes"></fa-icon>
                    <img class="photoToAdd" src={{photo}}>
                </div>
            </div>
            <p style="color: #a94442;">{{errorMessage}}</p>

        </div>
    </div>

    <button type="button" id="submit" class="btn" (click)="onSubmit()">Submit</button>

    <!-- <p class="text-center" style="color:red;" *ngIf="success==false">Complete all the information</p>
    <p class="text-center" style="color:red;" *ngIf="userIdInvalid==true">You need to login</p>
    <p class="text-center" style="color: green;" *ngIf="successAdd != '' ">{{successAdd}}</p> -->


</form>