.title {
  font-size: 36px;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 60px;
}
.title2 {
  text-align: center;
  margin-bottom: 30px;
}
#addForm {
  width: 70%;
  max-width: 70%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 5px solid black;
  border-radius: 10px;
  padding-top: 50px;
  padding-bottom: 50px;
}
.formHalfs {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
}
.rightHalf {
  margin-left: 150px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 400px;
}
.form-group {
  width: 110%;
}
.btn {
  background-color: rgb(20, 182, 20);
  color: white;
}
input {
  border: 2px solid rgb(34, 33, 33);
  border-radius: 4px;
  text-align: center;
}
input[type="file"] {
  display: none;
}
.custom-file-upload {
  border: 1px solid rgb(167, 167, 167);
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
  margin-bottom: 30px;
}
#numberOfRooms {
  width: 100%;
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 6px;
  padding-bottom: 6px;
}
.img-wrap {
  position: relative;
  display: inline-block;
  margin-right: 15px;
  margin-bottom: 15px;
}
.delete {
  position: absolute;
  top: 3px;
  right: 3px;
  z-index: 100;
  background-color: rgb(202, 5, 5);
  padding: 0 10px 0 10px;
  cursor: pointer;
  opacity: 0.3;
  font-size: 26px;
  border-radius: 50%;
}
.img-wrap:hover .delete {
  opacity: 1;
}
.photoToAdd {
  object-fit: cover;
  height: 120px;
  width: 120px;
}
.photos {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 120%;
}
