<app-header></app-header>
<img class="image" src="assets/images/eiffel.jpg" />
<div *ngIf="forgotPassword == false" class="container">
  <h1>Login</h1>
  <form class="form-container" [formGroup]="loginForm">
      <div class="form-group">
          <div class="col-sm-12">
              <label for="email" class="control-label required">Email</label>
              <input type="email"
                     id="email"
                     class="form-control"
                     formControlName="email"
                     autocomplete="off"
                     pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" 
                     maxlength="50"/>
                     
              <app-field-error-display [displayError]="isFieldValid('email')"
                                       errorMsg="Please inform your email">
              </app-field-error-display>
              
          </div>
      </div>

    <div class="form-group">
      <div class="col-sm-12">
        <label for="password" class="control-label required">Password </label>
        <input
          type="password"
          id="password"
          class="form-control"
          formControlName="password"
          autocomplete="off"
          pattern="^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]{8,}$"
          maxlength="20"
        />
        <app-field-error-display
          [displayError]="isFieldValid('password')"
          errorMsg="Please complete a password"
        >
        </app-field-error-display>
      </div>
    </div>
    <div class="form-group">
      <button class="btn btn-dark" (click)="onSubmit()">Submit</button>
    </div>
    <div class="form-group">
      <p id="forgotPassword" (click)="toEmailSubmition()">I forgot my password</p>
    </div>
  </form>
  <p *ngIf="success" class="text-center" style="color: green; font-size: 22px; margin-top: 20px;">
    Welcome
  </p>
  <p *ngIf="success === false" class="text-center" style="color: red; font-size: 22px; margin-top: 20px;">
    Something went wrong
  </p>
  <p *ngIf="mailNotVerificated != null" class="text-center" style="color: red; font-size: 22px; margin-top: 20px;">
    The e-mail was not verificated
  </p>
</div>

<div *ngIf="forgotPassword && successMessage == null">
    <p class="text-center h5 mt-5 mb-5">Enter your email address and we'll send you the password reset link</p>
    <div class="password-container">
      <div class="form-group" style="width: 80%; margin: auto;">
            <label for="email" class="control-label required">Email</label>
            <input type="email"
                  id="email"
                  class="form-control"
                  autocomplete="off"
                  pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" 
                  [(ngModel)]="resetPasswordEmail"/>
      </div>
      <div class="form-group">
        <button class="btn btn-dark" (click)="sendEmail()">Submit</button>
        <button class="btn btn-dark" type="button" style="margin-left: 10px;" (click) = "forgotPassword = false">Cancel</button>
      </div>
    </div>
</div>
<div *ngIf="successMessage != null">
  <p id="successMessage"><fa-icon [icon]="faCheckCircle"></fa-icon> {{successMessage}}</p>
</div>
